<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="smart.generator.core.preferences.SmartGeneratorPreferencePage"
            id="smart.generator.core.preferences.SmartGeneratorPreferencePage"
            name="Smart Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="smart.generator.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
