<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="smart-generator-plugin-core-ui.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="smart-generator-plugin-core-ui.commands.category"
            id="smart-generator-plugin-core-ui.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="smart-generator-plugin-core-ui.commands.sampleCommand"
            class="smart.generator.plugin.core.ui.handlers.GeneratorHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="smart-generator-plugin-core-ui.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="smart-generator-plugin-core-ui.menus.sampleMenu">
            <command
                  commandId="smart-generator-plugin-core-ui.commands.sampleCommand"
                  mnemonic="S"
                  id="smart-generator-plugin-core-ui.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="smart-generator-plugin-core-ui.toolbars.sampleToolbar">
            <command
                  commandId="smart-generator-plugin-core-ui.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="smart-generator-plugin-core-ui.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="smart.generator.plugin.core.ui.preferences.GeneratorPreferencePage"
            id="smart.generator.plugin.core.ui.preferences.GeneratorPreferencePage"
            name="Smart Generator">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="smart.generator.plugin.core.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="smart-generator-plugin-core-ui"
            name="Smart Wizards">
      </category>
      <wizard
            category="smart-generator-plugin-core-ui"
            class="smart.generator.plugin.core.ui.wizards.GeneratorWizard"
            icon="icons/sample.gif"
            id="smart.generator.plugin.core.ui.wizards.GeneratorWizard"
            name="Multi-page Editor file">
      </wizard>
   </extension>

</plugin>
